@import '../globalStyle.scss';

.graphWrapper {
 display: flex;
 flex-direction: column;
 padding: 0px 40px 0px 40px;
 transform: translateX(60%);
 opacity: 0;
 transition: opacity 900ms ease-in-out, transform 900ms ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}