@import "../globalStyle";

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: $titleFont;
  font-weight: bold;
}

.topHalf {
  background: $blue;
  background: #285059;
  // background: #2C3539;
  // background: linear-gradient(90deg, rgba(4,194,201,1) 0%, rgba(1,135,140,1) 100%);
  // background: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // color: $lightGrey;
  color: white;
  height: 100%;
  transition: height 800ms ease-in-out;
  z-index: 1;
}

.bottomHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $blue;
  color: #2C3539;
  color: #285059;
  // color: #55a2a6;
  height: 0%;
  transition: height 800ms ease-in-out;
}

.showPage {
  height: 50%;
}

.topText {
  transform: translateY(120px);
  transition: transform 800ms ease-in-out;
  transition-delay: 600ms;
}

.bottomText {
  // background: -webkit-linear-gradient(90deg, rgba(4,194,201,1) 0%, rgba(1,135,140,1) 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  transform: translateY(-120px);
  transition: transform 800ms ease-in-out;
  transition-delay: 2s;
  z-index: -1;
}

.moveText {
  transform: translateY(0);
}