@import '../globalStyle.scss';
$radius: 7px;

.wrapper {
  border-radius: $radius;
  height: 28px;
  display: flex;
  margin-bottom: 20px;
}

.bar {
  border-radius: $radius;
  // background: teal;
  // display: inline-block;
  background: linear-gradient(90deg, rgba(4,194,201,1) 0%, rgba(1,135,140,1) 100%);
  height: 100%;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left;
  transition: transform 700ms cubic-bezier(.5,.25,.51,1), opacity 700ms ease-in-out;
  // transition: opacity 200ms ease-in-out;
}

.barGrow {
  transform: scaleX(1);
  opacity: 1;
}

.barBackground {
  border-radius: $radius;
  position: relative;
  background: rgb(242, 242, 242);
  flex: 4;
  height: 100%;
}

.category {
  // border-radius: 5px;
  flex: 1;
  background: #04C2C9;
  color: $lightGrey;
  font-family: $titleFont;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  position: absolute;
  z-index: 2;
  color: $lightGrey;
  color: rgb(242, 242, 242);
  font-family: $titleFont;
  font-weight: bold;
  font-size: 16px;
  top: 5px;
  left: 4px;
}
