@import '../globalStyle.scss';

.portfolioSection {
  background: #f2f2f2;
  padding-bottom: 200px;
  @include triangle-header(#f2f2f2)
}

.content {
  position: relative;
  padding: 0px 80px 0px 80px;
  z-index: 2;
}

.title {
  padding: 80px 0px 60px 0px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bgColor {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(242, 242, 242);
  opacity: 0.8;
  z-index: 6;
}

.bgShow {
  opacity: 0.8;
}

.videoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 80px auto 0px auto;
  margin-bottom: 40px;
  border-radius: 20px;
  z-index: 3;
  max-height: 700px;
  max-width: 900px;
  border-radius: 10px;
  // opacity: 0;
}

.showWrapper {
  opacity: 1;
}

video {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  z-index: 3;
  opacity: 1;
  outline: none;
}

// iframe {
//   position: fixed;
//   z-index: 12;
//   min-width: 800px;
//   height: 500px;
//   top: 50%;
//   left: 50%;
//   margin-top: -250px;
//   margin-left: -400px;
//   // left: 0;
//   // right: 0;
//   // margin: 100px auto 0px auto;
//   border-radius: 5px;
//   // box-shadow: 2px 2px 8px grey;
// }

@media(max-width: 630px) {
  .content {
    padding: 0px 40px 0px 40px;
  }
}


