@import '../globalStyle.scss';
// @import '../about/about.module.scss';

.portfolioSection {
  // height: 120vh;
  background: rgb(242, 242, 242);
  padding: 0px 80px 40px 80px;
}

.title {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  // margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
