@import '../globalStyle.scss';
// @import '../about/about.module.scss';

.portfolioSection {
  // height: 120vh;
  background: rgb(242, 242, 242);
  padding: 0px 80px 40px 80px;
}

.title {
  padding: 80px 0px 40px 0px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.projectsWrapper {
  // margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.backgroundStuff {
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: white;
  opacity: 0.80;
  z-index: 2;
}

.videoWrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  z-index: 8;
  max-height: 700px;
  max-width: 900px;
  border-radius: 10px;
}

video {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  z-index: 3;
  opacity: 1;
  outline: none;
}


