@import '../globalStyle.scss';

h2 {
  font-family: $titleFont;
  font-weight: bold;
  font-size: 40px;
  color: $titleColor;
  
  border-bottom: 2px solid $titleColor;
}

.aboutSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 80px 160px 80px;
  h2 {
    padding: 0px 5px 0px 8px;
  }
}

.title {
  @include flex-center;
}

.wrapper {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoWrapper {
  margin-top: 18px;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 350px;
  padding: 0px 40px 0px 40px;
  font-size: 24px;
  line-height: 1.3;
}

.skillsWrapper {
  margin-top: 60px;
  min-width: 350px;
  flex: 1;
  padding: 0px 40px 0px 40px;
}

@media (max-width: 1200px) {
  .aboutSection {
    padding: 80px 60px 150px 60px; 
  }

  .skillsWrapper {
    padding: 0px 30px;
  }

  .photoWrapper {
    padding: 0px 30px;
    font-size: 23px;
  }
}

@media (max-width: 1200px) {
  .aboutSection {
    padding: 80px 40px 130px 40px; 
  }
}

@media (max-width: 450px) {
  .aboutSection {
    padding: 70px 30px 100px 30px;
    
  }
  .skillsWrapper {
    padding: 10px 20px;
    margin-top: 30px;
  }
  .photoWrapper {
    padding: 0px 20px;
    font-size: 23px;
    line-height: 1.4;
  }
}
