@import '../globalStyle.scss';

a.link {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $pink;
  }
}

nav {
  background: $darkBlue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: $font;
  color: $lightGrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 16px;
  height: 60px;
  z-index: 100;
}

.links {
  display: flex;
  flex-direction: row;
}

