@import '../globalStyle.scss';

a.link {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $pink;
  }
}

nav {
  background: $darkBlue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: $font;
  color: $lightGrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 16px;
  height: 60px;
  z-index: 3;
}

.links {
  display: flex;
  flex-direction: row;
}

@media (max-width: 630px) {
  a.link {
    margin-left: 30px;
  }

  nav {
    font-size: 14px;
    padding: 0 50px 0 50px;
  }
}

@media (max-width: 486px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  a.link {
    margin-left: 20px;
  }
}

