@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// $primary-orange: #FF5851;
// $primary-teal:#41B3A3;
$blue:#153B56;
$lightGrey: rgb(249, 249, 249);
$pink: #E22866;
$darkBlue: #1B242f;
$titleFont: 'Montserrat';
$font: 'Raleway';