@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// $primary-orange: #FF5851;
$teal:#41B3A3;
$blue:#153B56;
$lightBlue:rgb(28, 80, 118);
$lighterBlue: rgb(37, 105, 154);
$lightGrey: rgb(249, 249, 249);
$pink: #E22866;
$darkBlue: #1B242f;
$titleFont: 'Montserrat';
$font: 'Raleway';