@import '../globalStyle.scss';

.cartoon {
  border-radius: 10%;
  width: 50%;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-60%);
  opacity: 0;
  transition: opacity 900ms ease-in-out, transform 900ms ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.textWrapper {
  font-family: $font;
  color: $fontColor;
  line-height: 1.45;
}

@media (max-width: 1200px) {
  .cartoon {
    width: 55%;
  }
}

@media (max-width: 1200px) {
  .cartoon {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .cartoon {
    width: 70%;
  }
  .textWrapper {
    margin-top: 20px
  }
}
